{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}
    <section class="mt-5">
        <h2 class="text-center">Dernières Annonces</h2>
        <div class="row mt-5">
            {% for annonce in annonces %}
                {% include "includes/_annonce.html.twig" with {'annonce': annonce} only %}
            {% endfor %}
        </div>
    </section>
    <section class="mt-5">
        <h2 class="text-center">Listes Annonceurs</h2>
        <div class="container mt-50 mb-50">
            <div class="row">
                <div class="">
                    {% for annonceur in annonceurs %}
                        {% include "includes/_annonceur.html.twig" with {'annonceur': annonceur} only %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}
