{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}
    <section>
        <h2>Dernières Annonces</h2>
        <div class="row mt-100">
            {% for annonce in annonces %}
                {% include "includes/_annonce.html.twig" with {'annonce': annonce} only %}
            {% endfor %}
        </div>
    </section>
    <section>
        <h2>Dernières Annonces</h2>
        {% for annonceur in annonceurs %}{% endfor %}
    </section>


{% endblock %}
