{% extends 'base.html.twig' %}

{% block title %}Hello AdoptantController!
{% endblock %}

{% block body %}
    <h1>list Adoption Offers</h1>

    <section>
        {% for adoptionOffer in adoptionOffers %}
            {% include "includes/_adoptionOffer.html.twig" with {'adoptionOffer':adoptionOffer} only %}

        {% endfor %}
    </section>
{% endblock %}
