<div
    id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    {# !!! this carrousel doesn't seem to work #}
    <ol class="carousel-indicators">
        {% for image in images %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for image in images %}
            <div {% if loop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                <img style="aspect-ratio:16/9;" class="d-block w-100" src="{{asset(image.getPath)}}" alt="{{image.getAlt}}">
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
