{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>{{annonceur.getName}}'s Annonces</h1>
    <a class="btn btn-primary text-center" href="{{path('annonce_new')}}" target="_blank" class="card-link">create new annonce</a>

    {% for annonce in annonceur.getAnnonces %}

        {% include "includes/_annonceurAnnonce.html.twig" with {'annonce':annonce} only %}
    {% endfor %}
{% endblock %}
